@{ // Layout = null; }
@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
}
<link href="@Url.Content("~/Content/calender.css")" rel="stylesheet" type="text/css" />



<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    var itemsA = @ViewBag.JsonString_A;
    var itemsB = @ViewBag.JsonString_B;
    //    [
    //    100,
    //    0,
    //    0,
    //    200,
    //    0,
    //];

    var datasA = {
        datasets: [{
            data: itemsA,
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
            ],
            label: 'Dataset 1'
        }],
        labels: [
            '光熱費',
            '食費',
            '日用品',
            'その他'
        ]
    };

    var datasB = {
        datasets: [{
            data: itemsB,
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
            ],
            label: 'Dataset 1'
        }],
        labels: [
            '光熱費',
            '食費',
            '日用品',
            'その他'
        ]
    };

    var configA = {
        type: 'pie',
        data: datasA,
        options: {
            responsive: true
        }
    };

    var configB = {
        type: 'pie',
        data: datasB,
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctxA = document.getElementById('chart-areaA').getContext('2d');
        window.myPieA = new Chart(ctxA, configA);
        var ctxB = document.getElementById('chart-areaB').getContext('2d');
        window.myPieB = new Chart(ctxB, configB);
    };

    //更新ボタン
    function koushin() {
        location.reload();
    }
</script>

<body>
    <div class="f-container">
        <div class="flex1">
            <font size="5">
                @Html.ActionLink("カレンダー", "Index", "Main")
            </font>
            <div id="canvas-holder1" style="width:100%">
                <canvas id="chart-areaA"></canvas>
            </div>
            <div id="canvas-holder2" style="width:100%">
                <canvas id="chart-areaB"></canvas>
            </div>
            @using (Html.BeginForm("Index", "Chart", FormMethod.Get)){
                <p>
                    年: @Html.DropDownList("Year")
                    月: @Html.DropDownList("Month")
                    <input type="submit" value="更新" />
                </p>
                }
            </div>
    </div>
</body>
    }